<div class="row justify-content-center">
  <div class="mb-5 text-muted col-lg-12 ">
    <small>
      <p>
        For more
        details on these metrics please refer to Lorenzo Famiglini, Andrea Campagner, Federico Cabitza, Towards a Rigorous Calibration Assessment Framework: Advancements in Metrics, Methods, and Use.
European Conference on Artificial Intelligence, 30.09 - 5.10, 2023, Kraków, Poland.
        <br>
        <!-- <a href="https://doi.org/XX.XXXX/XXXXXXX.XXXXXXX">https://doi.org/XX.XXXX/XXXXXXX.XXXXXXX</a> -->
      </p>
      
    </small>
  </div>
</div>
